# GitHub Linguist Language Configuration
*.csv linguist-vendored=true
*.csv linguist-detectable=false
*.db linguist-vendored=true
data/** linguist-vendored=true
power_bi_reference/** linguist-documentation=true

*.py linguist-detectable=true
*.sql linguist-detectable=true
*.html linguist-detectable=true
